<div class="product-list container">
	<h3>Product List</h3>
	<div *ngFor="let product of products" class="row p-2">
		<div class="card">
			<div class="card-body row">
				<div class="col-2 p-0">
					<img [src]="product.image" class="rounded w-100" alt="Product Image">
				</div>
				<div class="col-7">
					<h6 class="card-title">{{ product.name }}</h6>
					<small class="card-text">{{ product.description }}</small>
					<p class="fw-bold">${{ product.price }}</p>
				</div>
				<div class="col-3 container-actions">
					<button class="btn btn-danger btn-sm" (click)="deleteProduct(product.id)">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>

<app-modal-confirmation (didConfirmed)="deleteProductConfirmed()"></app-modal-confirmation>